
<h1 class="elite">ELITE DEFENSE</h1>

<h2 class="elite_description">Teams in TOP 10 in Opposition FG%, 3pt%, Turnovers and Margin of Victory</h2>


<% @teams.each do |team| %>

  <% if team[:opp_tov_rank] < 10 && team[:opp_three_pt_percentage_rank] < 10 && team[:opp_fg_pct_rank] < 10  %>
    <br>

  <section class="elite_team_info">
    <img class="logo" src="http://www.myvideo.net.tw/TWM_Video/Portal/images/teamLogo/nba/bluebase%20166/<%= team[:id] %>.png"</img>


<br>
    <p class="stat_cat">Opposition FG%: <%= team[:opp_fg_percentage] %> <br>  Rank: <%= team[:opp_fg_pct_rank] %></p>
    <p class="stat_cat">Opposition 3pt%: <%= team[:opp_three_pt_percentage] %> <br>  Rank: <%= team[:opp_three_pt_percentage_rank] %></p>
    <p class="stat_cat">Opposition Turnover <%= team[:opp_tov] %> <br>  Rank: <%= team[:opp_tov_rank] %></p>
    <p class="stat_cat">Margin of Victory: <%= team[:plus_minus] %> <br>  Rank: <%= team[:plus_minus_rank]%></p>
  </section>
  <br>
  <br>

  <% end %>

<% end %>
